.signature{
    position: relative;
    background-color: white;
    text-align: center;
    border-top: solid;
    border-top-color: black;
    font-family: $font-1;
    min-width: auto;
    bottom: 0;

}


@media screen and (max-width: 400px){
    .parasignature{
        font-size: 12px;
    }

}

@media screen and (max-width: 300px){
    .parasignature{
        font-size: 10px;
    }

}