.signature{
    background-color: white;
    text-align: center;
    border-top: solid;
    border-top-color: black;
    font-family: $font-1;
    min-width: 400px;
}


@media screen and (max-width: 800px){
    .parasignature{
        font-size: smaller;
    }

}