.contact{
    display: flex;
    justify-content: space-evenly;
  
  }
  
  .mail, .linkedin, .github{
    font-size: .5rem;
    background: white;
    border-radius: 50%;
    padding : .5rem .6rem;
  }