.titre{
    height: 86vh;
    display: grid;
    align-content: center;
    justify-items: center;
    background:linear-gradient(135deg, grey 25%, transparent 25%) -100px 0,linear-gradient(225deg, grey 25%, transparent 25%) -100px 0,linear-gradient(315deg, grey 25%, transparent 25%),linear-gradient(45deg, grey 25%, transparent 25%);
    background-size:calc(2 * 100px) calc(2 * 100px);
}
.moi {
    font-family: $font-2;
    font-size: 150px;
    font-weight: 600;

}

.developpeur{
    margin-bottom: 20px;
    font-family: $font-1;
    font-size: 2vh;
    display: flex;
}

.typeScript{
    margin-left: 10px;
    font-style: italic;
}


@media screen and (max-width: 743px) {
    .moi{
        font-size: 4em;

    }
}


@media screen and (max-width: 300px){
    .moi{
        font-size: 3em;

    }
}



