.realisation{
    display: grid;
    align-content: center;
    justify-items: center;
    min-height: 86vh;
    background:linear-gradient(135deg, black 25%, transparent 25%) -100px 0,linear-gradient(225deg, white 25%, transparent 25%) -100px 0,linear-gradient(315deg, black 25%, transparent 25%),linear-gradient(45deg, white 25%, transparent 25%);
    background-size:calc(2 * 100px) calc(2 * 100px);
    font-family: $font-1;
    background-color:  rgb(80, 164, 191);
}


.grid-container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-columns: minmax(100px,auto);
  grid-auto-rows: minmax(100px, auto);
  gap: 20px;

}

.image_realisation{
  height: 300px;
  width: 350px;
  background-color: black;
  transition: transform .5s;
  filter: grayscale(100%);
  border: solid 5px rgb(0, 0, 0);
  border-radius: 15px;

}

.container_img :hover{
  filter: grayscale(0%);
  transform: scale(1.05);
  border-color: rgb(255, 255, 255);
}

  @media screen and(max-width: 1050px){
    .grid-container{
      display: flex ;
      flex-direction: column;
      grid-gap: 50px;
    }
    .image_realisation{
      height: 200px;
      width: 250px;
    }
    
  }

  @media screen and(max-width: 400px){
    .image_realisation{
      height: 150px;
      width: 200px;
    }
  }

  @media screen and(max-width: 300px){
    .image_realisation{
      height: 125px;
      width: 175px;
    }



  }